$dark-blue-color:#070724;
$dark-gray-color: #38384F;
$light-gray-color: #838391;
$cyan-color: #419EBB;
$light-orange-color: #EDA249;
$purple-color: #6F2ED6;
$chevron-color: #D14C32;
$white-color: #FFFFFF;
$light-red-color: #D83A34;
$dark-orange-color: #CD5120;
$green-color: #1EC2A4;
$light-blue-color: #2D68F0;
$mercury-color: #DEF4FC;
$venus-color: #F7CC7F;
$earth-color: #545BFE;
$mars-color: #FF6A45;
$jupiter-color: #ECAD7A;
$saturn-color: #FCCB6B;
$uranus-color: #65F0D5;
$neptune-color: #497EFA;

$planets: ('mercury': $mercury-color, 'venus': $venus-color, 'earth': $earth-color, 'mars': $mars-color, 
'jupiter': $jupiter-color, 'saturn': $saturn-color, 'uranus': $uranus-color, 'neptune': $neptune-color);